@font-face {
    font-family: Besom;
    src: url(fonts/Besom-free-font.ttf) format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
}


@page {
    size: A4;
}

.section {
    border: 0; 
    height: 5px;
    background-color:  #286BA2;
}

.title {
    font-family: Besom;
    color: #1D74A7;
}

.image-header {
    display: inline-block;
    vertical-align: top;
}

.text-header {
    display:inline-block;
}

.header img {
    float: left;
    width: 6cm; 
    height: auto;
}
.header h1, h3 {
    position: relative;
}

.paragraph {
    font-family: Roboto;
}

body {
    align-content: center;
}