<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" type="text/css" href="feedback_template.css">
</head>
<body>
    <div class="header">
        <div class='image-header'>
            <img src='images/azulhorizontal.png'/>
        </div>
        <div class="text-header">
            <h1 class='title'>{{ document_title }}</h1>
        </div>
    </div>

    <h2 class='title'>{{ header_text }}</h2>
    <hr class='section'>
    <p class='paragraph'>{{ message }}</p>
    <hr class='section'>
    <h2 class='title'>{{ list_title }}</h2>
    <ul>
        {% for i in list %}
        <li class='paragraph'>{{i}}</li>
        {% endfor %}
    </ul>
</body>
</html>
